.hexgrid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hex {
    stroke: gray;
    stroke-width: 1px;
}   

.hexgridcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}